streamlit
youtube-transcript-api
pymupdf
pillow
pytesseract
opencv-python-headless
sentence-transformers
chromadb==0.6.3
rank-bm25
groq
python-dotenv
supabase
protobuf==4.25.3
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
